langchain
langchain_openai
langchain_community
boto3
neo4j
pandas
fastapi
mangum
uvicorn
colpali_engine
datasets 
huggingface_hub[hf_transfer] 
qdrant-client 
transformers
stamina 
rich
pandas 
pdf2image 
datasets
qdrant-client
stamina
rich
langchain-openai
tabulate
openai