colpali_engine>=0.3.1 
datasets 
huggingface_hub[hf_transfer] 
qdrant-client 
transformers>=4.45.0 
stamina 
rich
numpy==1.24.4
pandas==2.0.3
pdf2image 
datasets
qdrant-client
stamina
rich
langchain-openai
tabulate
openai
Flask
boto3